<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static.static', filename='style.css') }}">
  </head>
{% endblock %}

<body>

<br><br><br><br>
{% block nav %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-auto">
        <nav class="navbar navbar-expand-lg">
          <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('main.get_main') }}"> To the main
              page</a>
            <a class="nav-link {% if request.endpoint == 'main.search'
            or request.endpoint == 'main.get_filtered_hotels' %}active{% endif %}"
               href="{{ url_for('main.search') }}">Filter hotels by a specific
              word</a>
            <a class="nav-link {% if request.endpoint == 'main.get_all_hotels' %}active{% endif %}"
               href="{{ url_for('main.get_all_hotels') }}">Retrieve all hotels</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-auto">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-auto">
      {% block pagination %}
      {% endblock %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-auto">
      {% block input %}
      {% endblock %}
    </div>
  </div>
</div>
{% block bootstrap %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>

